<div class="container mt-5">
  <h2>Item Details</h2>
  <form method="post" action="/admin/products/edit/<%=product._id%>">
    
    <div class="form-group">
      <label for="brand">Brand</label>
      <select class="form-control" id="brand" name="brand" required>
        <% brands.forEach(brand => { %>
          <option 
            value="<%= brand._id %>" 
            <%= product.brand && brand._id.toString() === product.brand._id.toString() ? 'selected' : '' %>
          >
            <%= brand.brandName %>
          </option>
        <% }) %>
      </select>
    </div>
    
    
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="<%= product.title %>">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter Description"><%= product.description %></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price" value="<%= product.price %>">
    </div>

    <div class="form-group">
      <label for="productImage">Image</label>
      <div class="mb-3">
        <img
          src="<%= product.productImage %>"
          alt="Current Product Image"
          style="max-width: 200px; max-height: 200px; display: block;"
        >
        <small>Current Image, If you don't select any file, the image will not change</small>
      </div>
      <input
        type="file"
        class="form-control"
        id="productImage"
        accept="image/*"
        name="productImage"
      >
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
